.wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 46%;
    transition-duration: 2.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wrapper {
    animation: 2s linear infinite rotate;
}